<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <a class="navbar-brand" href="index.html">Kiddos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="/quizmeup/" class="nav-link pl-0">Home</a></li>
            <li class="nav-item"><a href="/quizmeup/contact" class="nav-link">Contact</a></li>
            <li class="nav-item"><a href="/quizmeup/student/test" class="nav-link">Test</a></li>
            <li class="nav-item"><a href="/quizmeup/student/history" class="nav-link">Quiz History</a></li>
            <li class="nav-item"><a href="/quizmeup/student/scores" class="nav-link">My Scores</a></li>
            <li class="nav-item"><a href="/quizmeup/logout" class="nav-link">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

